.mapWrapper {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px; /* Ограничим ширину для красоты */
  position: relative; /* ВАЖНО: для абсолютного позиционирования виджета */
}

.svgContainer {
  width: 100%;
  height: auto;
  max-height: 85vh;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.5));
}

.mapRegion {
  fill: rgba(255, 255, 255, 0.1);
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 1px;
  cursor: pointer;
  transition:
    fill 0.3s ease,
    stroke-width 0.3s ease;
}

.mapRegion:hover {
  fill: rgba(255, 255, 255, 0.3);
  stroke-width: 2px;
}

.mapRegion:hover,
.selectedRegion {
  fill: rgba(255, 255, 255, 0.3);
  stroke-width: 2px;
}
